/* Base */
html, body {
	line-height: 1.7;
	font-weight: 400;
	font-size: 1rem;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	background: #ffffff;
	width: 100%;
	height: 100%;
}

::-moz-selection {
	background: #000;
	color: #fff;
}

::selection {
	background: #000;
	color: #fff;
}

h1, h2, h3, h4, h5, h6, .site-logo {
	font-family: 'Oswald', sans-serif;
}

a {
	-webkit-transition: .3s all ease;
	-o-transition: .3s all ease;
	transition: .3s all ease;
}



a:hover {
	text-decoration: none;
}

.text-black {
	color: #000 !important;
}

.bg-black {
	background: #000 !important;
}

.bg-dark {
	background: #13171d !important;
}

.line-height-sm {
	line-height: 1.3;
}

.line-height-xs {
	line-height: 1;
}

.site-wrap:before {
	-webkit-transition: .3s all ease-in-out;
	-o-transition: .3s all ease-in-out;
	transition: .3s all ease-in-out;
	background: rgba(0, 0, 0, 0.6);
	content: "";
	position: absolute;
	z-index: 2000;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	visibility: hidden;
	height: auto;
}

.offcanvas-menu .site-wrap {
	position: absolute;
	height: auto;
	width: 100%;
	z-index: 2;
	overflow: hidden;
}

.offcanvas-menu .site-wrap:before {
	opacity: 1;
	visibility: visible;
}

.btn {
	position: relative;
	top: 0;
}

.btn:hover, .btn:active, .btn:focus {
	outline: none;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.btn.btn-secondary {
	background-color: #e6e7e9;
	border-color: #e6e7e9;
	color: #000;
}

.btn.btn-sm {
	font-size: 0.9rem;
}

.btn.btn-primary {
	color: #fff;
}

.btn.btn-outline-primary:hover {
	color: #fff !important;
}

.btn.btn-black {
	background: #000 !important;
	color: #fff;
}

.btn.btn-black:hover {
	background: #333333 !important;
}

.btn.btn-white.btn-outline-white {
	border-color: #fff;
	background: transparent;
	color: #fff;
}

.btn.btn-white.btn-outline-white:hover {
	background: #fff;
	color: #000;
}

.bg-black {
	background: #000;
}

.form-control {
	height: 47px;
}

.form-control:active, .form-control:focus {
	border-color: #293A8E;
}

.form-control:hover, .form-control:active, .form-control:focus {
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.site-section {
	padding: 3em 0;
}

@media ( min-width : 768px) {
	.site-section {
		padding: 7em 0;
	}
}

.site-section.site-section-sm {
	padding: 4em 0;
}

.bg-text-line {
	display: inline;
	background: #000;
	-webkit-box-shadow: 20px 0 0 #000, -20px 0 0 #000;
	box-shadow: 20px 0 0 #000, -20px 0 0 #000;
}

.bg-image {
	background-size: cover;
	background-repeat: no-rpeeat;
	overflow: hidden;
	background-position: center center;
}

.bg-image.center {
	background-position: top center;
}

.bg-image.fixed {
	background-position: fixed !important;
}

.bg-image.overlay, .bg-image.overlay-primary, .bg-image.overlay-info,
	.bg-image.overlay-success, .bg-image.overlay-warning {
	position: relative;
}

.bg-image.overlay:before, .bg-image.overlay-primary:before, .bg-image.overlay-info:before,
	.bg-image.overlay-success:before, .bg-image.overlay-warning:before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.bg-image.overlay:before {
	background: rgba(0, 0, 0, 0.4);
}

.bg-image.overlay-primary:before {
	background: rgba(41, 58, 142, 0.9);
}

.bg-image.overlay-info:before {
	background: rgba(23, 162, 184, 0.9);
}

.bg-image.overlay-success:before {
	background: rgba(40, 167, 69, 0.9);
}

.bg-image.overlay-success:before {
	background: rgba(255, 220, 61, 0.9);
}

@media ( max-width : 767.98px) {
	.display-3, .display-2, .display-4 {
		font-size: 2rem !important;
	}
}

@media ( max-width : 991.98px) {
	.bg-md-height {
		height: 300px;
	}
}

@media ( max-width : 767.98px) {
	.bg-sm-height {
		height: 300px;
	}
}

.text-gray-100 {
	color: #f8f9fa !important;
}

.text-gray-200 {
	color: #e9ecef !important;
}

.text-gray-300 {
	color: #dee2e6 !important;
}

.text-gray-400 {
	color: #ced4da !important;
}

.text-gray-500 {
	color: #adb5bd !important;
}

.text-gray-600 {
	color: #6c757d !important;
}

.text-gray-700 {
	color: #495057 !important;
}

.text-gray-800 {
	color: #343a40 !important;
}

.text-gray-900 {
	color: #212529 !important;
}

.row-wrap {
	margin-left: 15px;
	margin-right: 15px;
}

.overflow-hidden {
	overflow: hidden;
}

.row-items {
	height: calc(50% - 15px);
	margin-bottom: 15px;
}

.row-items.last {
	margin-bottom: 0;
}

@media ( max-width : 991.98px) {
	.responsive-md-height {
		height: 500px !important;
		margin-bottom: 15px;
	}
}

/* Navbar */
/* 밑 선 색 추가 0712 */
.site-navbar {
	margin-bottom: 0px;
	background: #FFDC3D;
	padding-left: 50px;
	padding-right: 50px;
	border-bottom: solid #FFDC3D;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
}

.site-navbar .site-logo {
	font-weight: 200;
}

.site-navbar .site-logo a {
	font-weight: 200;
	font-size: 25px;
	font-weight: 700;
	color: #000;
}

.site-navbar .site-navigation .site-menu {
	margin-bottom: 0;
	margin-left: 0;
	padding-left: 0;
}

.site-navbar .site-navigation .site-menu .active>a {
	color: #000;
}

.site-navbar .site-navigation .site-menu a {
	text-decoration: none !important;
	display: inline-block;
}

.site-navbar .site-navigation .site-menu>li {
	display: inline-block;
	padding: 10px 5px;
}

.site-navbar .site-navigation .site-menu>li>a {
	padding: 10px 10px;
	letter-spacing: .05em;
	color: rgba(0, 0, 0, 0.6);
	text-decoration: none !important;
}

.site-navbar .site-navigation .site-menu>li>a:hover {
	color: #293A8E;
}

.site-navbar .site-navigation .site-menu>li:last-child {
	padding-right: 0;
}

.site-navbar .site-navigation .site-menu>li:last-child>a {
	padding-right: 0;
}

.site-navbar .site-navigation .site-menu .has-children {
	position: relative;
}

.site-navbar .site-navigation .site-menu .has-children>a {
	position: relative;
	padding-right: 20px;
}

.site-navbar .site-navigation .site-menu .has-children>a:before {
	position: absolute;
	content: "\e313";
	font-size: 16px;
	top: 50%;
	right: 0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	font-family: 'icomoon';
}

.site-navbar .site-navigation .site-menu .has-children .dropdown {
	visibility: hidden;
	opacity: 0;
	top: 100%;
	position: absolute;
	text-align: left;
	-webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.25);
	box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.25);
	padding: 10px 0;
	margin-top: 20px;
	margin-left: 0px;
	background: #fff;
	-webkit-transition: 0.2s 0s;
	-o-transition: 0.2s 0s;
	transition: 0.2s 0s;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top
	{
	position: absolute;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before
	{
	bottom: 100%;
	left: 20%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before
	{
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #fff;
	border-width: 10px;
	margin-left: -10px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown a {
	text-transform: none;
	letter-spacing: normal;
	-webkit-transition: 0s all;
	-o-transition: 0s all;
	transition: 0s all;
	color: #000;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown .active>a
	{
	color: #293A8E;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li {
	list-style: none;
	padding: 0;
	margin: 0;
	min-width: 200px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li>a {
	padding: 5px 20px;
	display: block;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li>a:hover
	{
	color: #293A8E;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children>a:before
	{
	content: "\e315";
	right: 20px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children>.dropdown,
	.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children>ul
	{
	left: 100%;
	top: 0;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children:hover>a,
	.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children:active>a,
	.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children:focus>a
	{
	color: #293A8E;
}

.site-navbar .site-navigation .site-menu .has-children:hover>a,
	.site-navbar .site-navigation .site-menu .has-children:focus>a,
	.site-navbar .site-navigation .site-menu .has-children:active>a {
	color: #293A8E;
}

.site-navbar .site-navigation .site-menu .has-children:hover,
	.site-navbar .site-navigation .site-menu .has-children:focus,
	.site-navbar .site-navigation .site-menu .has-children:active {
	cursor: pointer;
}

.site-navbar .site-navigation .site-menu .has-children:hover>.dropdown,
	.site-navbar .site-navigation .site-menu .has-children:focus>.dropdown,
	.site-navbar .site-navigation .site-menu .has-children:active>.dropdown
	{
	-webkit-transition-delay: 0s;
	-o-transition-delay: 0s;
	transition-delay: 0s;
	margin-top: 0px;
	visibility: visible;
	opacity: 1;
}

.site-subbar {
	margin-bottom: 0px;
	background: #FFFFFF;
	padding-left: 50px;
	padding-right: 50px;
	border-bottom: none;
	position: relative;
	z-index: 99;
}

.site-subbar .site-navigation .site-menu {
	margin-bottom: 0;
	margin-left: 0;
	padding-left: 0;
}

.site-subbar .site-navigation .site-menu>li {
	display: inline-block;
	padding: 10px 5px;
}

.site-subbar .site-navigation .site-menu>li:last-child {
	padding-right: 0;
}

.site-navbar .site-navigation .site-menu>li:last-child>a {
	padding-right: 0;
}

.site-subbar .site-navigation .site-menu .has-children {
	position: relative;
	padding-right: 20px;
}

.site-subbar .site-navigation .site-menu .has-children>a {
	position: relative;
	padding-right: 20px;
}

.site-subbar .site-navigation .site-menu .has-children>a:before {
	position: absolute;
	content: "\e313";
	font-size: 16px;
	top: 50%;
	right: 0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	font-family: 'icomoon';
}

.site-subbar .site-navigation .site-menu .has-children .dropdown {
	visibility: hidden;
	opacity: 0;
	top: 100%;
	position: absolute;
	text-align: left;
	-webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.25);
	box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.25);
	padding: 2px 0;
	margin-top: 20px;
	margin-left: 0px;
	background: #fff;
	-webkit-transition: 0.2s 0s;
	-o-transition: 0.2s 0s;
	transition: 0.2s 0s;
}

.site-subbar .site-navigation .site-menu .has-children .dropdown.arrow-top
	{
	position: absolute;
}

.site-subbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before
	{
	bottom: 100%;
	left: 20%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.site-subbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before
	{
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #fff;
	border-width: 10px;
	margin-left: -10px;
}

.site-subbar .site-navigation .site-menu .has-children .dropdown a {
	text-transform: none;
	letter-spacing: normal;
	-webkit-transition: 0s all;
	-o-transition: 0s all;
	transition: 0s all;
	color: #000;
}

.site-subbar .site-navigation .site-menu .has-children .dropdown .active>a
	{
	color: #293A8E;
}

.site-subbar .site-navigation .site-menu .has-children .dropdown>li {
	list-style: none;
	padding: 0;
	margin: 0;
	min-width: 60px;
}

.site-subbar .site-navigation .site-menu .has-children .dropdown>li>a {
	padding: 5px 20px;
	display: block;
}

.site-subbar .site-navigation .site-menu .has-children .dropdown>li>a:hover
	{
	color: #293A8E;
}

.site-subbar .site-navigation .site-menu .has-children .dropdown>li.has-children>a:before
	{
	content: "\e315";
	right: 20px;
}

.site-subbar .site-navigation .site-menu .has-children .dropdown>li.has-children>.dropdown,
	.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children>ul
	{
	left: 100%;
	top: 0;
}

.site-subbar .site-navigation .site-menu .has-children .dropdown>li.has-children:hover>a,
	.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children:active>a,
	.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children:focus>a
	{
	color: #293A8E;
}

.site-subbar .site-navigation .site-menu .has-children:hover>a,
	.site-navbar .site-navigation .site-menu .has-children:focus>a,
	.site-navbar .site-navigation .site-menu .has-children:active>a {
	color: #293A8E;
}

.site-subbar .site-navigation .site-menu .has-children:hover,
	.site-navbar .site-navigation .site-menu .has-children:focus,
	.site-navbar .site-navigation .site-menu .has-children:active {
	cursor: pointer;
}

.site-subbar .site-navigation .site-menu .has-children:hover>.dropdown,
	.site-navbar .site-navigation .site-menu .has-children:focus>.dropdown,
	.site-navbar .site-navigation .site-menu .has-children:active>.dropdown
	{
	-webkit-transition-delay: 0s;
	-o-transition-delay: 0s;
	transition-delay: 0s;
	margin-top: 0px;
	visibility: visible;
	opacity: 1;
}

/* nav 로그인,회원가입,로그아웃 버튼 제외 정렬 0706 */
a[class="change-button"]{
	margin-left: 40px;
}

.site-mobile-menu {
	width: 300px;
	position: fixed;
	right: 0;
	z-index: 2000;
	padding-top: 20px;
	background: #fff;
	height: calc(100vh);
	-webkit-transform: translateX(110%);
	-ms-transform: translateX(110%);
	transform: translateX(110%);
	-webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
	box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
	-webkit-transition: .3s all ease-in-out;
	-o-transition: .3s all ease-in-out;
	transition: .3s all ease-in-out;
}

.offcanvas-menu .site-mobile-menu {
	-webkit-transform: translateX(0%);
	-ms-transform: translateX(0%);
	transform: translateX(0%);
}

.site-mobile-menu .site-mobile-menu-header {
	width: 100%;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
	float: right;
	margin-top: 8px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span
	{
	font-size: 30px;
	display: inline-block;
	padding-left: 10px;
	padding-right: 0px;
	line-height: 1;
	cursor: pointer;
	-webkit-transition: .3s all ease;
	-o-transition: .3s all ease;
	transition: .3s all ease;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover
	{
	color: #000;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
	float: left;
	margin-top: 10px;
	margin-left: 0px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
	display: inline-block;
	text-transform: uppercase;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img
	{
	max-width: 70px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover
	{
	text-decoration: none;
}

.site-mobile-menu .site-mobile-menu-body {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	position: relative;
	padding: 20px;
	height: calc(100vh - 52px);
	padding-bottom: 150px;
}

.site-mobile-menu .site-nav-wrap {
	padding: 0;
	margin: 0;
	list-style: none;
	position: relative;
}

.site-mobile-menu .site-nav-wrap a {
	padding: 10px 20px;
	display: block;
	position: relative;
	color: #000;
}

.site-mobile-menu .site-nav-wrap a:hover {
	color: #293A8E;
}

.site-mobile-menu .site-nav-wrap li {
	position: relative;
	display: block;
}

.site-mobile-menu .site-nav-wrap li.active>a {
	color: #fff;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse {
	position: absolute;
	right: 0px;
	top: 10px;
	z-index: 20;
	width: 36px;
	height: 36px;
	text-align: center;
	cursor: pointer;
	border-radius: 50%;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
	background: #f8f9fa;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse:before {
	font-size: 12px;
	z-index: 20;
	font-family: "icomoon";
	content: "\f078";
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%) rotate(-180deg);
	-ms-transform: translate(-50%, -50%) rotate(-180deg);
	transform: translate(-50%, -50%) rotate(-180deg);
	-webkit-transition: .3s all ease;
	-o-transition: .3s all ease;
	transition: .3s all ease;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.site-mobile-menu .site-nav-wrap>li {
	display: block;
	position: relative;
	float: left;
	width: 100%;
}

.site-mobile-menu .site-nav-wrap>li>a {
	padding-left: 20px;
	font-size: 20px;
}

.site-mobile-menu .site-nav-wrap>li>ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.site-mobile-menu .site-nav-wrap>li>ul>li {
	display: block;
}

.site-mobile-menu .site-nav-wrap>li>ul>li>a {
	padding-left: 40px;
	font-size: 16px;
}

.site-mobile-menu .site-nav-wrap>li>ul>li>ul {
	padding: 0;
	margin: 0;
}

.site-mobile-menu .site-nav-wrap>li>ul>li>ul>li {
	display: block;
}

.site-mobile-menu .site-nav-wrap>li>ul>li>ul>li>a {
	font-size: 16px;
	padding-left: 60px;
}

/* layout 분리 footer 0707 */
footer {
	background: #293A8E;
    padding: 30px;
    text-align: center;
    font-size: 14px;
	position: relative;
	transform: translateY(-100%);
	width: 100%;
	overflow: hidden;
}

/* Blocks */
/* footer 간 거리 조절 0706, style.css에도 적용 */
.site-wrap {
	margin: 0 auto;
	background: #fff;
	height: auto;
	min-height: 100%;
	width: 100%;
	margin-bottom: 100px;
}

.bg-section {
	background: #293A8E;
	padding-left: 50px;
	padding-right: 50px;
}

.site-section {
	padding: 60px 0;
}


.more {
	text-transform: uppercase;
	font-size: 50px;
	font-weight: 700;
	color: #293A8E;
}


.widget h3 {
	font-size: 20px;
	color: #fff;
	margin-bottom: 20px;
}

.widget p {
	color: rgba(255, 255, 255, 0.5);
}

.widget .links li {
	margin-bottom: 15px;
}

.widget .links li a {
	color: #fff;
}

.widget .links li a span {
	color: #ccc;
	font-size: 11px;
	font-weight: 700;
	text-transform: uppercase;
}

.social li {
	margin-bottom: 10px;
}

.social li a {
	color: #fff;
}

.copyright {
	color: #fff;
}

.copyright a {
	color: #FFDC3D;
}


