<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.spring.mapper.ChallengeMapper">

	<select resultType="com.spring.dto.Challenge" 
			id="getAllChall">
		SELECT chall_id, 
				chall_reg_id, 
				region_id, 
				chall_name, 
				chall_intro, 
				chall_start_date, 
				chall_end_date, 
				chall_all_auth, 
				chall_week_auth,
				chall_category, 
				chall_sit, 
				chall_auth, 
				chall_online, 
				chall_size, 
				chall_pic
		FROM challenge 
		ORDER BY chall_id DESC
	</select>
	
	<select resultType="com.spring.dto.ChallengeRegion" 
			id="getAllChallR">
		SELECT challenge.chall_id, 
				challenge.chall_reg_id, 
				challenge.chall_name, 
				challenge.chall_intro, 
				challenge.chall_start_date, 
				challenge.chall_end_date, 
				challenge.chall_all_auth, 
				challenge.chall_week_auth, 
				challenge.chall_category, 
				challenge.chall_sit, 
				challenge.chall_auth, 
				challenge.chall_online, 
				challenge.chall_size, 
				challenge.chall_pic, 
				region.region_state, 
				region.region_city, 
				region.region_district, 
				(select race.race_name from race, challenge where race.race_id = challenge.race_id) as race_name
		FROM challenge, region
		WHERE challenge.region_id = region.region_id
		ORDER BY chall_id DESC
	</select>

	<select resultType="com.spring.dto.Challenge" 
			id="getChallByChallId">
		SELECT chall_id, chall_reg_id, region_id, chall_name, chall_intro, chall_start_date, chall_end_date, chall_all_auth, chall_week_auth,chall_category, chall_sit, chall_auth, chall_online, chall_size, chall_pic
		FROM challenge
		WHERE chall_id = #{chall_id} 
	</select>

	<select resultType="com.spring.dto.User" 
			id="getHostByChallId">
		SELECT user_id, nickname, user_title, user_pic
		FROM rh_user
		WHERE user_id = (SELECT chall_reg_id 
						 FROM challenge 
						 where chall_id = #{chall_id}) 
	</select>

	<select resultType="com.spring.dto.UserChallenge" 
			id="getUserByChallId">
		SELECT rh_user.user_id, user_chall.chall_id, user_chall.chall_auth_num, user_chall.chall_reg_status, user_chall.user_chall_status, user_chall.user_reg_status, user_chall.user_deny_num, rh_user.nickname, rh_user.intro, rh_user.user_title, rh_user.user_pic
		FROM user_chall, rh_user
		WHERE user_chall.chall_id = #{chall_id} and rh_user.user_id = user_chall.user_id
	</select>

	<update id="applyByChallId" 
			parameterType="com.spring.dto.UserChallenge">
		MERGE INTO user_chall
		using dual
		on (user_id=#{applyId} and chall_id=#{chall_id})
		WHEN MATCHED THEN
			UPDATE
				SET user_reg_status = 'Y'
		WHEN NOT MATCHED THEN
			INSERT (user_id,chall_id,user_reg_status)
			VALUES (#{applyId},#{chall_id},'Y') 
	</update>
	
	<delete id="withdrawByChallId" 
			parameterType="com.spring.dto.UserChallenge">
			delete 
			from user_chall 
			where user_id = #{applyId} and chall_id=#{chall_id}
	
	</delete>
	
	<update id="acceptIdbyChallId"
			parameterType="com.spring.dto.UserChallenge">
			UPDATE user_chall
			SET chall_reg_status = 'Y'
			WHERE user_id=#{acceptId} and chall_id=#{chall_id}
	</update>
	
	<update id="declineIdbyChallId"
			parameterType="com.spring.dto.UserChallenge">
			UPDATE user_chall
			SET user_reg_status = 'N', user_deny_num =  user_deny_num+1
			WHERE user_id=#{declineId} and chall_id=#{chall_id}
	</update>
	
	<update id="kickIdbyChallId"
			parameterType="com.spring.dto.UserChallenge">
			UPDATE user_chall
			SET user_reg_status = 'N', user_deny_num =  user_deny_num+1, chall_reg_status = 'N'
			WHERE user_id=#{kickId} and chall_id=#{chall_id}
	</update>
	
	<delete id="deleteUserchallbyChallId" 
			parameterType="com.spring.dto.UserChallenge">
			delete 
			from user_chall 
			where chall_id=#{challId}
	</delete>
	
	<delete id="deleteRoutebyChallId" 
			parameterType="com.spring.dto.Route">
			delete 
			from chall_route
			where chall_id=#{challId}
	</delete>
	
	<delete id="deleteChallbyChallId" 
			parameterType="com.spring.dto.Challenge">
			delete 
			from challenge
			where chall_id=#{challId}
	</delete>
	
	<delete id="deleteApplyUserbyChallId" 
			parameterType="com.spring.dto.UserChallenge">
			delete 
			from user_chall
			where chall_id=#{chall_Id} and chall_reg_status='N'
	</delete>

	<select resultType="com.spring.dto.ChallengeRegion" 
			id="getChallByOption" 
			parameterType="java.util.List">
		SELECT challenge.chall_id, 
				challenge.chall_reg_id, 
				challenge.chall_name, 
				challenge.chall_intro, 
				challenge.chall_start_date, 
				challenge.chall_end_date, 
				challenge.chall_all_auth, 
				challenge.chall_week_auth, 
				challenge.chall_category, 
				challenge.chall_sit, 
				challenge.chall_auth, 
				challenge.chall_online, 
				challenge.chall_size, 
				challenge.chall_pic, 
				region.region_state, 
				region.region_city, 
				region.region_district,
				(select race.race_name from race, challenge where race.race_id = challenge.race_id) as race_name
		FROM challenge, region
		<trim prefixOverrides="AND |OR" prefix="WHERE">
			challenge.region_id = region.region_id
			<if test="!online.isEmpty()">
				and challenge.chall_online IN 
				<foreach close=")" open="(" separator="," index="idx" item="value" collection="online">
					#{value} 
				</foreach>
			</if>
			<if test="!date.isEmpty()">
				AND extract (month from challenge.chall_start_date) in 
				<foreach close=")" open="(" separator="," index="idx" item="value" collection="date">
					#{value} 
				</foreach>
			</if>
			<if test="!cat.isEmpty()">
				AND challenge.chall_category IN 
				<foreach close=")" open="(" separator="," index="idx" item="value" collection="cat">
					#{value} 
				</foreach>
			</if>
			<if test="!con.isEmpty()">
				AND challenge.chall_sit IN 
				<foreach close=")" open="(" separator="," index="idx" item="value" collection="con">
					#{value} 
				</foreach>
			</if>
			<if test="!state.isEmpty() and city.isEmpty()">
				AND challenge.region_id IN (select region_id from region where region_state IN 
				<foreach close=")" open="(" separator="," index="idx" item="value" collection="state">
					#{value} 
				</foreach>
				) 
			</if>
			<if test="!state.isEmpty() and !city.isEmpty()">
				AND challenge.region_id IN (select region_id from region where region_city in 
				<foreach close=")" open="(" separator="," index="idx" item="value" collection="city">
					#{value} 
				</foreach>
				) 
			</if>
			<if test="!keyword.isEmpty()">
				AND challenge.chall_name LIKE '%'||#{keyword}||'%' 
			</if>
		</trim>
		ORDER BY chall_id DESC
	</select>
	
	<insert id="insertChallenge" parameterType="com.spring.dto.Challenge">
 		INSERT INTO challenge 
 				(chall_name,
 				chall_id,
 				chall_reg_id,
 				 chall_intro, 
 			 		chall_start_date, 
 						chall_end_date, 
 			 				chall_size,
 			 					chall_category,
 			 						region_id,
 			 							chall_sit,
 			 								chall_online,
 			 									chall_all_auth,
 			 									chall_week_auth) 
 			 		VALUES (#{chall_name},
 			 		challenge_req.NEXTVAL,
 			 					#{chall_reg_id}, 
 			 					#{chall_intro},
 			 						#{chall_start_date},
 			 							#{chall_end_date}, 
 			 								#{chall_size}, 
 			 									#{chall_category},
 			 										#{region_id},
 			 											#{chall_sit},
 			 												#{chall_online},
 			 													#{chall_all_auth},
 			 													#{chall_week_auth})
			<selectKey keyProperty="chall_id" resultType="int">
				SELECT challenge_req.CURRVAL AS chall_id FROM DUAL
			</selectKey>
 	</insert>
 	
 	<insert id="insertHost" parameterType="com.spring.dto.UserChallenge" >
 		INSERT INTO USER_CHALL
 					(user_id,
 					chall_id,
 					chall_reg_status,
 					user_reg_status)
 		VALUES(#{userId},
 				#{challId},
 				'Y',
 				'Y')
 					
 	</insert>
 	
 	<select id="checkOtherChall" resultType="_int">
 		select count(user_id)
 		from user_chall
 		where user_id=#{applyId} and (user_reg_status='Y' or chall_reg_status='Y') 
 	</select>
 	

 	<!-- 인증게시판 -->
 	
 	<select id="getAllPost" resultType="com.spring.dto.ChallengePost" >
		SELECT auth_id, auth_title, auth_date
		FROM auth_post
	</select>
	
	<select id="getPostByAuthId" resultType="com.spring.dto.ChallengePost">
		SELECT auth_title, auth_cont
		FROM auth_post
		WHERE auth_id=#{auth_id}
	</select>
	
	<!-- <insert id="insertChallPost" parameterType="com.spring.dto.ChallengePost">
	INSERT INTO auth_post (auth_id, chall_id, comment_id, auth_title, auth_cont, auth_date)
	VALUES (POST_SEQ.nextval, 2, null, #{auth_title}, #{auth_cont}, sysdate)
	</insert> -->

 	<update id="updateChallenge" 
			parameterType="com.spring.dto.Challenge">
			UPDATE challenge
			SET chall_name = #{chall_name},
				chall_intro =#{chall_intro},
				chall_start_date = #{chall_start_date},
				chall_end_date = #{chall_end_date},
				chall_size = #{chall_size},
				chall_category = #{chall_category},
				region_id = #{region_id},
				chall_sit = #{chall_sit},
				chall_online = #{chall_online},
				chall_all_auth = #{chall_all_auth},
				chall_week_auth = #{chall_week_auth}
				
			WHERE chall_id=#{chall_id}
	</update>

</mapper>