<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.spring.mapper.ChallengeMapper">

	<select resultType="com.spring.dto.Challenge" 
			id="getAllChall">
		SELECT chall_id, chall_reg_id, region_id, chall_name, chall_intro, chall_start_date, chall_end_date, chall_all_auth, chall_week_auth,chall_category, chall_sit, chall_auth, chall_online, chall_size, chall_pic
		FROM challenge 
	</select>

	<select resultType="com.spring.dto.Challenge" 
			id="getChallByChallId">
		SELECT chall_id, chall_reg_id, region_id, chall_name, chall_intro, chall_start_date, chall_end_date, chall_all_auth, chall_week_auth,chall_category, chall_sit, chall_auth, chall_online, chall_size, chall_pic
		FROM challenge
		WHERE chall_id = #{chall_id} 
	</select>

	<select resultType="com.spring.dto.User" 
			id="getHostByChallId">
		SELECT user_id, nickname, intro, user_pic
		FROM rh_user
		WHERE user_id = (SELECT chall_reg_id 
						 FROM challenge 
						 where chall_id = #{chall_id}) 
	</select>

	<select resultType="com.spring.dto.UserChallenge" 
			id="getUserByChallId">
		SELECT user_id, chall_id, chall_auth_num, chall_reg_status, user_chall_status, user_reg_status, user_deny_num
		FROM user_chall
		WHERE chall_id = #{chall_id} 
	</select>

	<insert id="applyByChallId" 
			parameterType="com.spring.dto.UserChallenge">
		INSERT INTO user_chall(user_id,chall_id,user_reg_status)
		VALUES (#{userId},#{chall_id},'Y') 
	</insert>

	<select resultType="com.spring.dto.Challenge" 
			id="getChallByOption" 
			parameterType="java.util.List">
		SELECT chall_id, chall_reg_id, region_id, chall_name, chall_intro, chall_start_date, chall_end_date, chall_all_auth, chall_week_auth,chall_category, chall_sit, chall_auth, chall_online, chall_size, chall_pic
		FROM challenge 
		<trim prefixOverrides="AND |OR" prefix="WHERE">
			<if test="!online.isEmpty()">
				chall_online IN 
				<foreach close=")" open="(" separator="," index="idx" item="value" collection="online">
					#{value} 
				</foreach>
			</if>
			<if test="!date.isEmpty()">
				AND extract (month from chall_start_date) in 
				<foreach close=")" open="(" separator="," index="idx" item="value" collection="date">
					#{value} 
				</foreach>
			</if>
			<if test="!cat.isEmpty()">
				AND chall_category IN 
				<foreach close=")" open="(" separator="," index="idx" item="value" collection="cat">
					#{value} 
				</foreach>
			</if>
			<if test="!con.isEmpty()">
				AND chall_sit IN 
				<foreach close=")" open="(" separator="," index="idx" item="value" collection="con">
					#{value} 
				</foreach>
			</if>
			<if test="!state.isEmpty() and city.isEmpty()">
				AND region_id IN (select region_id from region where region_state IN 
				<foreach close=")" open="(" separator="," index="idx" item="value" collection="state">
					#{value} 
				</foreach>
				) 
			</if>
			<if test="!state.isEmpty() and !city.isEmpty()">
				AND region_id IN (select region_id from region where region_city in 
				<foreach close=")" open="(" separator="," index="idx" item="value" collection="city">
					#{value} 
				</foreach>
				) 
			</if>
			<if test="!keyword.isEmpty()">
				AND chall_name LIKE '%'||#{keyword}||'%' 
			</if>
		</trim>
	</select>
</mapper>