<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.spring.mapper.FeedMapper">
 	
 	<select id="getAllFeeds" resultType="com.spring.dto.PersonalFeed">
 		SELECT 	feed_id,
				user_id,
				feed_title,
				feed_cont,	
				feed_writing_date		
 		FROM personal_feed
 		ORDER BY feed_id DESC
 	</select>
 	
 	<!-- 작성 -->
	<insert id="insertFeed" parameterType="com.spring.dto.PersonalFeed">
	  	INSERT INTO personal_feed(feed_id,
	  								user_id,
	  								feed_title,
	  								feed_cont,	
	  								feed_writing_date) 
		VALUES (personal_feed_seq.nextval, 
				#{user_id}, 
				#{feed_title}, 
				#{feed_cont}, 
				SYSDATE)

		<selectKey keyProperty="feed_id" resultType="int">
			SELECT personal_feed_seq.CURRVAL AS feed_id FROM DUAL
		</selectKey>
	</insert>
	
	<select id="selectFeed" parameterType="com.spring.dto.PersonalFeed">
 		SELECT 	feed_id,
				user_id,
				feed_title,
				feed_cont,	
				feed_writing_date
 		FROM personal_feed 
 		WHERE user_id = #{userId}
 		
 	</select>
 </mapper>