<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.spring.mapper.RaceMapper">

 	
 	<select id="getAllRaces" 
 			resultType="com.spring.dto.RaceAndRegion"> <!-- 해시맵, or 별개의 dto,-->
 		SELECT race.race_id, region.region_state, region.region_city, region.region_district, race.race_org, race.race_name, race.race_date, race.race_apply, race.race_deadline, race.race_url, race.race_category, race.race_dist, race.race_pic, race.race_con 
 		FROM race, region
 		WHERE race.region_id = region.region_id
 		ORDER BY race_date DESC
 	</select>
 	
 	<select id="getRegionIdByRaceId" 
 			resultType="int">
 		SELECT region_id
 			FROM race
 				WHERE race_id = #{raceId}
 	</select>
 	
 	
 	<select id="getRaceByOption" 
 			resultType="com.spring.dto.RaceAndRegion" 
 			parameterType="java.util.List" >
		SELECT race.race_id, region.region_state, region.region_city, region.region_district, race.race_org, race.race_name, race.race_date, race.race_apply, race.race_deadline, race.race_url, race.race_category, race.race_dist, race.race_pic, race.race_con 
 		FROM race, region
		<trim prefixOverrides="AND |OR" prefix="WHERE">
			race.region_id = region.region_id
			
			<if test="!category.isEmpty()">
				AND race.race_category IN 
				<foreach close=")" open="(" separator="," index="idx" item="value" collection="category">
					#{value} 
				</foreach>

			</if>
			<if test="!dist.isEmpty()">
				AND REGEXP_LIKE(race.race_dist, #{dist}) 
			</if>
			<if test="!date.isEmpty()">
				AND extract (month from race.race_date) in 
					<foreach close=")" open="(" separator="," index="idx" item="value" collection="date">
						#{value} 
					</foreach>
			</if>
			<if test="!con.isEmpty()">
				AND race.race_con IN 
				<foreach close=")" open="(" separator="," index="idx" item="value" collection="con">
					#{value} 
				</foreach>
			</if>
			<if test="!state.isEmpty() and city.isEmpty()">
				AND race.region_id IN (select region_id from region where region_state IN 
				<foreach close=")" open="(" separator="," index="idx" item="value" collection="state">
					#{value} 
				</foreach>
				) 
			</if>
			<if test="!state.isEmpty() and !city.isEmpty()">
				AND race.region_id IN (select region_id from region where region_city in 
				<foreach close=")" open="(" separator="," index="idx" item="value" collection="city">
					#{value} 
				</foreach>
				) 
			</if>
			<if test="!keyword.isEmpty()">
				AND race.race_name LIKE '%'||#{keyword}||'%' 
			</if>
		</trim>
		ORDER BY race_date DESC
	</select>
	
	<update id="updateRaceCon">
		update race
		set race_con =(
		case when SYSDATE <![CDATA[<]]> race_apply THEN '접수예정'
		WHEN SYSDATE <![CDATA[>]]> race_deadline THEN '접수마감'
		ELSE '접수중'
		END
		)
	</update>
 	
 </mapper>