<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.spring.mapper.RegionMapper">
 	 	
 	<select id="getAllState" resultType="string">
 		SELECT DISTINCT region_state
 			FROM region
 	</select>
 	
 	<select id="getCityByState" resultType="string">
 		SELECT DISTINCT region_city
 			FROM region
 				WHERE region_state = #{state}
 	</select>
 	
 	<select id="getDistrictByCity" resultType="string">
 		SELECT DISTINCT region_district
 			FROM region
 				WHERE region_city = #{city}
 	</select>
 	
 	 <select id="getIdByDistrict" resultType="int">
 		SELECT DISTINCT region_id
 			FROM region
 				WHERE region_district = #{district}
 	 </select>
 	 
 	 <select id="getRegionById" resultType="com.spring.dto.Region">
 		SELECT  region_id,
 						region_state,
 							region_city,
 								region_district
 					FROM region
 						WHERE region_id = #{regionId}
 	 </select>
 	 <select id="getStateById" resultType="string">
 		SELECT DISTINCT region_state
 			FROM region
 				WHERE region_id = #{regionId}
 	 </select>
 	 <select id="getCityById" resultType="string">
 		SELECT DISTINCT region_city
 			FROM region
 				WHERE region_id = #{regionId}
 	 </select>
 	  <select id="getDistrictById" resultType="string">
 		SELECT DISTINCT region_district
 			FROM region
 				WHERE region_id = #{regionId}
 	 </select>

 </mapper>