<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.spring.mapper.RouteMapper">
 	 	

 	
 	<insert id="insertRoute" parameterType="com.spring.dto.Route">
 		INSERT INTO chall_route 
 				(chall_id,
 					route_lat, 
 				 		route_long) 
 			 		VALUES (#{chall_id},
 			 					#{latitude},
 			 						#{longitude})
 	</insert>
 	
 	<select id="getlatLongById" resultType="com.spring.dto.Route">
 		SELECT chall_id,
 					route_lat, 
 			   			route_long
 			FROM chall_route
 				WHERE chall_id = #{challId}
 	</select>
 	
 		
	<delete id="deleteRoute" 
			parameterType="com.spring.dto.Route">
			delete 
				from chall_route 
					where chall_id = #{chall_id}
	
	</delete>
 	
 </mapper>