<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.spring.mapper.UserMapper">
 	 	
 	<select id="getAllUsers" resultType="com.spring.dto.User">
 		SELECT user_id, user_pw, pw_quest, pw_quest_answer, nickname, intro, user_title, user_pic, running_dist, running_time 
 		FROM rh_user
 	</select>
 	
 	<select id="getUserByUserIdAndUserPw" resultType="com.spring.dto.User">
 		SELECT user_id, user_pw, pw_quest, pw_quest_answer, nickname, intro, user_title, user_pic, running_dist, running_time 
 		FROM rh_user
 		WHERE user_id = #{userId} AND user_pw = #{userPw}	
 	</select>
 	
 </mapper>